

<body>


<header>
	
	<% if user_signed_in? %>
		<b>Welcome!</b> <%= current_user.first_name %>
	
		<h2>details</h2>
		
		<ul>
			<%= link_to "Tickets", tickets_path %><br>	
			<%= link_to "categories", categories_path %>
		
		</ul>
	<% else %>
		<ul>
			<%= link_to "sign in" , new_user_session_path %>
		</ul>	
	<% end %>
</header>
</body>