

<%= form_with model: @category, class: "abc" do |form|%>
	<div>
		<%= form.label :Name %><br>
		<%= form.text_field :name, class: 'autocomplete' %>
		
	</div>
	
	
	<button class="new" id="new">Add</button>
	
<% end %>