<p>update success!!</p>
<li>
	<h4>name:</h4>
	<a><%= @category.name %></a>
</li>
<li>
	<%= link_to "edit" , edit_category_path %>
	<%= link_to "Destroy", category_path(@category), method: :delete, data: {confirm: "Are you sure?"} %>
</li>